{% extends 'base.html' %}

{% block content %}

<div class="container p-5 m-auto w-50">
    <form method="GET" action="{% url 'core.create_role' %}">
        {% if not request.user.is_superuser %}
        <button disabled type="submit" class="btn btn-dark mb-2">Create New Role</button>
        {% else %}
        <button type="submit" class="btn btn-dark mb-2">Create New Role</button>
        {% endif %}
    </form>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Name</th>
                <th scope="col">Is Active</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ role.name }}</td>
                <td>{{ role.is_active }}</td>
                <td>
                    {% if request.user.is_superuser %}
                    <div style="display: inline-block;">
                        <form method="GET" action="{% url 'core.update_role' role.id %}">
                            <button type="submit" class="btn btn-success mb-2">Update</button>
                        </form>
                    </div>
                    <div style="display: inline-block;">
                        <form method="GET" action="{% url 'core.delete_role' role.id %}">
                            <button type="submit" class="btn btn-danger mb-2"
                                onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                        </form>
                    </div>
                    {% else %}
                    <span style="color: red; font-weight: bold;">Not Authorized!</span>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}