{% extends 'base.html' %}

{% block content %}

<div class="container p-5 m-auto">

    <form method="GET" action="{% url 'core.assign_permissions' %}">
    {% if perms.core.add_permission %}
    <button type="submit" class="btn btn-dark mb-2">Assign Permissions</button>
    {% else %}
    <button disabled type="submit" class="btn btn-dark mb-2">Assign Permissions</button>
    {% endif %}
    </form>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">User Name</th>
                <th scope="col">permissions</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.username }}</td>
                <td>
                    {% for permission in user.get_user_permissions %}
                    <span style="color: green;font-weight:bold;">{{ permission }}</span>
                    &nbsp;&nbsp;<span style="color: red; font-weight:bolder; font-size: larger;">|</span>&nbsp;&nbsp;
                    {% endfor %}
                </td>
                <td>
                    {% if perms.core.update_permission %}
                    <div style="display: inline-block;">
                        <form method="GET" action="{% url 'core.update_user_permissions' user.id %}">
                            <button type="submit" class="btn btn-success mb-2">Update</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if perms.core.delete_permission %}
                    <div style="display: inline-block;">
                        <form method="GET" action="{% url 'core.delete_user_permissions' user.id %}">
                            <button type="submit" class="btn btn-danger mb-2"
                                onclick="return confirm('Are you sure you want to delete this? Tnis will delete all the permissions associated with this user.')">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
            <a href="?page=1"><button class="btn btn-primary">first</button></a>
            <a href="?page={{ users.previous_page_number }}"><button class="btn btn-primary">previous</button></a>
            {% endif %}

            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>

            {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}"><button class="btn btn-primary">next</button></a>
            <a href="?page={{ users.paginator.num_pages }}"><button class="btn btn-primary">last</button></a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}