<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'core.index' %}">RV2000</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core.login_user' %}">User Login <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core.register_user' %}">User Registration</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Master Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'core.manage_roles' %}">Manage Roles</a>
                    <a class="dropdown-item" href="{% url 'core.manage_users' %}">Manage Users</a>
                    <a class="dropdown-item" href="{% url 'core.manage_user_role' %}">Manage User Role</a>
                    <a class="dropdown-item" href="{% url 'core.get_permissions' %}">Manage User Permissions</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">No Action</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET">
            <input class="form-control mr-sm-2" name="search_query" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>