{% extends 'base.html' %}

{% block content %}

<div class="container p-5 m-auto w-50">

    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Email address</label>
            <input required type="email" class="form-control" id="id_email" name="user_email">
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            <input required type="password" class="form-control" id="id_password" name="user_password">
        </div>
        <a href="{{ request.META.HTTP_REFERER }}">
            <button type="button" class="btn btn-dark">Cancel</button>
        </a>
        <button type="submit" class="btn btn-dark">Login User</button>
    </form>
</div>

{% endblock %}