{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container p-5 m-auto">

    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <a href="{{ request.META.HTTP_REFERER }}">
            <button type="button" class="btn btn-dark">Cancel</button>
        </a>
        <button type="submit" class="btn btn-dark">{{ button_name }}</button>
    </form>

</div>

{% endblock %}