{% extends 'base.html' %}

{% block content %}

<div class="container p-5 m-auto w-50">

    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_user_first_name">First Name</label>
            <input required type="text" class="form-control" id="id_user_first_name" name="first_name"
                value="{{ current_user.first_name }}">
        </div>
        <div class="form-group">
            <label for="id_user_last_name">Last Name</label>
            <input required type="text" class="form-control" id="id_user_last_name" name="last_name"
                value="{{ current_user.last_name }}">
        </div>
        <div class="form-group">
            <label for="id_username">Username</label>
            <input required type="text" class="form-control" id="id_username" name="username"
                value="{{ current_user.username }}">
        </div>
        <div class="form-group">
            <label for="id_user_role">Assign Role</label>
            <select class="custom-select" id="id_user_role" name="user_role">

                {% if not current_user %}
                <option selected value="-">Select Role</option>
                {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}

                {% else %}
                <option value="-">Select Role</option>
                {% for role in roles %}

                {% if role.id == user_role.role_id %}
                <option selected value="{{ role.id }}">{{ role.name }}</option>
                {% else %}
                <option value="{{ role.id }}">{{ role.name }}</option>
                {% endif %}

                {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_user_email">Email address</label>
            <input required type="email" class="form-control" id="id_user_email" name="email"
                value="{{ current_user.email }}">
        </div>
        {% if not current_user %}
        <div class="form-group">
            <label for="id_user_password">Password</label>
            <input required type="password" class="form-control" id="id_user_password" name="password1">
            <span style="color: green;">password should follow all the rules of a strong password</span>
        </div>
        <div class="form-group">
            <label for="id_user_password_confirmation">Confirm Password</label>
            <input required type="password" class="form-control" id="id_user_password_confirmation" name="password2">
        </div>
        {% endif %}

        <div class="form-group">

            <div style="display: inline-block; border: 4px dashed black; padding: 10px;">
                <label for="id_active">Is Active</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" {% if current_user.is_active %} checked {% endif %}
                        class="custom-control-input" id="id_is_active" name="is_active">
                    <label class="custom-control-label" for="id_is_active">Active</label>
                </div>
            </div>

            <div style="display: inline-block; border: 4px dashed black; padding: 10px;">
                <label for="id_superuser">Is SuperUser</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" {% if current_user.is_superuser %} checked {% endif %}
                        class="custom-control-input" id="id_is_superuser" name="is_superuser">
                    <label class="custom-control-label" for="id_is_superuser">Active</label>
                </div>
            </div>

            <div style="display: inline-block; border: 4px dashed black; padding: 10px;">
                <label for="id_staff">Is Staff</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" {% if current_user.is_staff %} checked {% endif %} class="custom-control-input"
                        id="id_is_staff" name="is_staff">
                    <label class="custom-control-label" for="id_is_staff">Active</label>
                </div>
            </div>

        </div>

        <a href="{{ request.META.HTTP_REFERER }}">
            <button type="button" class="btn btn-dark">Cancel</button>
        </a>
        <button type="submit" class="btn btn-dark">{{ button_name }}</button>
    </form>
</div>

{% endblock %}